body{
    
    background-color: lavender;
    background-image: url(../images/background-image.jpg);
    background-size: cover;
}



header {
    
    width: 700px;
    border: 1px red solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
}
    

main{
    width: 700px;
    border: 1px red solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
    color: forestgreen;
    font-family: sans-serif;
    
}

footer{
    
    width: 700px;
    border: 1px red solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
    text-align: center;
}

h1 {font-family: cursive; color: white; font-size: 36px;
    text-align: center;
   
}

h2 {
    text-align: center;
    color: white;
}

a {
    font-size: 12px;
    font-family: "ariel", sans-serif;
    
}

a:link {
    color: blue;
    align-content: right;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

p {
    font-family: "serif";
    font-size: 18 px;
    color: white;
    text-align: left;
    padding-left: 3px;
}

li {
    font-family: "serif";
    font-size: 16 px;
    color: darkblue;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}

#intro-image {
    
    text-align: center;
}

#intro-image img {
    width: 300px;
    border-radius: 70%;
}

#intro-image-me img {
    text-align: center;
    width: 150px;
}
  
#social {
    text-align: center;
    margin-left: auto;
    letter-spacing: 20px;
    }
#resume p {
    text-align: left;
}
